<?xml version="1.0"?>
<launch>
  <arg name="end_effector_right"  default="pal-gripper"/> 
  <arg name="end_effector_left"  default="pal-gripper"/> 
  <arg name="ft_sensor_right"  default="schunk-ft"/> 
  <arg name="ft_sensor_left"  default="schunk-ft"/> 
  <arg name="laser_model"  default="sick-561"/> 
  <arg name="camera_model"  default="orbbec-astra"/> 
  <arg name="advanced_navigation" default="False"/> 
  <arg name="has_screen" default="False"/> 
  <arg name="gzpose" default="-x -2.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gui" default="true"/>
  <arg name="tuck_arm" default="true"/>
  <arg name="use_moveit_camera" default="true"/>
  <arg name="world" default="stocking_challenge"/>
  <arg name="rviz" default="true"/>

  <arg name="airlab_model_path" default="$(find retail_store_simulation)/models"/>
  <arg name="extra_gz_model_path" default="$(find tiago_gazebo)/models"/>
  <arg name="extra_gz_resource_path" default="$(find retail_store_simulation)"/>

  <env name="LC_NUMERIC" value="C" />
  <env name="GAZEBO_MODEL_PATH" value="$(arg airlab_model_path):$(arg extra_gz_model_path):$(find pal_gazebo_worlds)/../pal_gazebo_worlds_private/models:$(find pal_gazebo_worlds)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(arg extra_gz_resource_path):$(find pal_gazebo_worlds)/../pal_gazebo_worlds_private:$(find pal_gazebo_worlds):$(optenv GAZEBO_RESOURCE_PATH)"/>

  <include file="$(find tiago_dual_2dnav_gazebo)/launch/tiago_dual_navigation.launch" pass_all_args="true"/> 
</launch>
