<?xml version="1.0"?>
<launch>

    <include file="$(find retail_store_simulation)/launch/tiago_simulation.launch"/>
    

    <node name="move_base" pkg="moveit_commander" type="move_base.py" output="screen"/>
    <node name="mv_r" pkg="moveit_commander" type="mv_r.py" output="screen"/>
    <node name="mv_l" pkg="moveit_commander" type="mv_l.py" output="screen"/>
    <node name="head" pkg="moveit_commander" type="head.py" output="screen"/>
    <node name="home" pkg="head_look_to_point" type="home.py" output="screen"/>
    <node name="target_pos" pkg="look_to_point" type="target_pos.cpp" output="screen"/>
    <node name="can_dtct" pkg="look_to_point" type="can_dtct" output="screen"/>
    <node name="mission_planner" pkg="look_hand" type="mission_planner.py" output="screen"/>
    
    

</launch>
